body {
    background-color: black;
}
code {
    color: whitesmoke; 
    font-size: 50px;
    line-height: 1.6;
}

.sym {
    color: lightsalmon
}

.cmd {
  color : green;
  font-size: 50px;
}


#blink {
    font-size: 40px;
    color: gray;
    animation: blink infinite  0.5s;
  } 

  @keyframes blink {
    from {opacity: 0;}
    to {opacity: 1;} 
  } 

#rgb {
    z-index: -1;
    padding: 50% 0%;
    text-align: center;
    animation: rgb 2s infinite ;
}

@keyframes rgb {
    0%   {color: red }
    33% {color: #00ff00 }
    66%  {color: blue}
    100%   {color: red }
  }

input {
  background-color: black;
  color: white;
  font-size: 50px;
  border-color:black;
  outline-color: black;
  caret-color: white;
  justify-content: flex-end;

}

input:focus {
  outline-style: none;
}

#error {
  color: red;
}

.e {
  color : cadetblue;
  font-size: 40px;
}