:root {
  --body-background-color: #121212;
  --body-color: #f6f6f6;
  --font-size: 50px;
  --input-color: white;
  --input-caret-color: white;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
}

code {
    font-size: var(--font-size);
    line-height: 1.6;
}

.sym {
    color: lightsalmon;
}

.cmd {
  color : #24a148;
  font-size: var(--font-size);
}

#blink {
    font-size: var(--font-size);
    color: skyblue;
    animation: blink infinite  0.5s;
  } 

@keyframes blink {
    from {opacity: 0;}
    to {opacity: 1;} 
  } 

#rgb {
    z-index: -1;
    padding: 50% 0%;
    text-align: center;
    animation: rgb 2s infinite ;
}

@keyframes rgb {
    0%   {color: red }
    33% {color: #00ff00 }
    66%  {color: blue}
    100%   {color: red }
  }

input {
  background-color: transparent;
  color: var(--input-color);
  font-size: var(--font-size);
  caret-color: var(--input-caret-color);
  justify-content: flex-end;
  outline-style: none;
  border: none;
}

#error {
  color: #da1e28;
  font-size: 35px;
}

.e {
  color : cadetblue;
  font-size: 35px  ; 
}
